<footer>
  <div class="footer-get-updates">
    <input type="text" placeholder="Updates in your inbox…" />
    <button class="btn">GO</button>
  </div>
  <div class="footer-policies">
    <div>
      <p>Home</p>
      <p>Pricing</p>
      <p>Products</p>
      <p>About Us</p>
    </div>
    <div class="footer-policies-2">
      <p>Careers</p>
      <p>Community</p>
      <p>Privacy Policy</p>
    </div>
  </div>
  <div class="footer-medias">
    <img src="./assets/images/icon-facebook.svg" alt="media-icon-facebook">
    <img src="./assets/images/icon-youtube.svg" alt="media-icon-youtube">
    <img src="./assets/images/icon-twitter.svg" alt="media-icon-twitter">
    <img src="./assets/images/icon-pinterest.svg" alt="media-icon-pinterest">
    <img src="./assets/images/icon-instagram.svg" alt="media-icon-instagram">
  </div>
  <div class="footer-logo">
    <img src="./assets/images/logo.svg" alt="footer-logo">
  </div>
  <div class="copy-right">
    <p>Copyright 2020. All Rights Reserved</p>
  </div>
</footer>
