
.navigation {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  width: 90%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.navigation ul li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.navigation ul li:last-child {
  margin: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 1.2rem;
}
