<section class="intro">
  <div class="statistics">
    <img src="./assets/images/illustration-intro.svg" alt="statistics-image" />
  </div>
  <div class="intro-text-container">
    <h1 class="intro-text-header">
      Bring everyone together to build better products.
    </h1>
    <p class="intro-text">
      Manage makes it simple for software teams to plan day-to-day tasks while
      keeping the larger team goals in view.
    </p>
    <button class="btn get-started-button">Get Started</button>
  </div>
</section>
<section class="functionality">
  <div class="functionality-intro">
    <h2 class="functionality-intro-header">What’s different about Manage?</h2>
    <p class="functionality-intro-text">
      Manage provides all the functionality your team needs, without the
      complexity. Our software is tailor-made for modern digital product teams.
    </p>
  </div>
  <div class="functionality-cards">
    <div class="custom-card">
      <h1 class="card-title">
        <span class="card-number">01</span> Track company-wide progress
      </h1>
      <p class="card-description">
        See how your day-to-day tasks fit into the wider vision. Go from
        tracking progress at the milestone level all the way done to the
        smallest of details. Never lose sight of the bigger picture again.
      </p>
    </div>
    <div class="custom-card">
      <h1 class="card-title">
        <span class="card-number"> 02 </span> Advanced built-in reports
      </h1>
      <p class="card-description">
        Set internal delivery estimates and track progress toward company goals.
        Our customisable dashboard helps you build out the reports you need to
        keep key stakeholders informed.
      </p>
    </div>
    <div class="custom-card">
      <h1 class="card-title">
        <span class="card-number"> 03 </span> Everything you need in one place
      </h1>
      <p class="card-description">
        Stop jumping from one service to another to communicate, store files,
        track tasks and share documents. Manage offers an all-in-one team
        productivity solution.
      </p>
    </div>
  </div>
</section>
<section class="customer-reviews">
  <div class="customer-reviews-title">
    <h1>What they’ve said</h1>
  </div>
  <ngb-carousel [showNavigationArrows]="false" >
    <ng-template ngbSlide>
      <div class="review">
        <div class="image">
          <img src="./assets/images/avatar-anisha.png" alt="" />
        </div>
        <p class="name">Anisha Li</p>
        <p class="review-text">
          “Manage has supercharged our team’s workflow. The ability to maintain
          visibility on larger milestones at all times keeps everyone motivated.”
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>

      <div class="review">
        <div class="image">
          <img src="./assets/images/avatar-ali.png" alt="" />
        </div>
        <p class="name">Ali Bravo</p>
        <p class="review-text">
          “We have been able to cancel so many other subscriptions since using
          Manage. There is no more cross-channel confusion and everyone is much
          more focused.”
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="review">
        <div class="image">
          <img src="./assets/images/avatar-richard.png" alt="" />
        </div>
        <p class="name">Richard Watts</p>
        <p class="review-text">
          “Manage allows us to provide structure and process. It keeps us
          organized and focused. I can’t stop recommending them to everyone I talk
          to!”
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="review">
        <div class="image">
          <img src="./assets/images/avatar-shanai.png" alt="" />
        </div>
        <p class="name">Shanai Gough</p>
        <p class="review-text">
          “Their software allows us to track, manage and collaborate on our
          projects from anywhere. It keeps the whole team in-sync without being
          intrusive.”
        </p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="customer-reviews-get-started">
    <button class="btn">Get Started</button>
  </div>
</section>
<section class="how-it-works">
  <div class="how-it-works-background">
    <img src="./assets/images/bg-simplify-section-mobile.svg" alt="">
  </div>
  <div class="how-it-works-header">
    <h1>Simplify how your team works today.</h1>
  </div>
  <div class="how-it-works-get-started">
    <button class="btn ">Get Started</button>
  </div>
</section>



